<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <div class="logo-image">
                <img src="https://partyflock.nl/images/location/20754_1212x1212_471026/Breepark.jpg" />
            </div>

        <ul>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="agenda">Agenda</a></li>
            <li><a href="home">Home</a></li>




        </ul>

    </nav>

    @RenderBody()




</body>
</html>
