<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="agenda">Agenda</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="tickets">Tickets</a></li>
        </ul>
      
    </nav>
    
       
  
   
</body>
</html>
