
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40E0D0;
}

nav li {
    float: right;
}

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

h1 {
    text-align: center;
    font-size: 50px;
}
h5 {
    text-align: center;
    font-size: 30px;
}
.home-img {
    width: 1000px;
    height: 500px;
    padding-left: 300px;
}


.logo-image {
    float: left;
    width: 10px;
    height: 10px;
    
}
.contact-pagina {
    background-color: lightyellow;
    height: 200px;
    float: right;
    width: 500px;
    padding: 50px;
    margin: 200px;
    font-size: 25px;
}
