
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #40E0D0;
    height: 80px;
}

nav li {
    float: right;
    text-align: center;
}

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 80px 16px;
        text-decoration: none;
        text-align: center;
        padding-top: 30px;
        transition: background-color 1s;
    }

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h5 {
    text-align: center;
    font-size: 30px;
}

.home-img {
    width: 800px;
    height: 500px;
    padding-left: 380px;
}


.logo-image img {
    float: left;
    width: 120px;
    height: 80px;
}

.maps {
    float: left; 
    width: 30vw; 
}
.contact-form {
    width: 30vw; 
   
}
.contact-pagina {
    background-color: #40E0D0;
    float: right;
    width: 35vw;
    padding: 50px;
    font-size: 25px;
    box-sizing: border-box;
}



.box {
    float: left;
    width: 26vw;
    padding: 50px;
    background-color: #40E0D0;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-top: 25px;
}

.box-agenda {
    float: left;
    width: 100%;
    padding: 50px;
    background-color: #40E0D0;
    border-style: solid;
    border-color: black;
    text-align: left;
    margin-top: 25px;
}
