
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40E0D0;
    height: 80px;
}

nav li {
    float: right; 
    text-align: center;
}

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 80px 16px;
        text-decoration: none;
        text-align: center;
        padding-top: 30px;
        transition: background-color 1s;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

h1 {
    text-align: center;
    font-size: 50px;
}
h5 {
    text-align: center;
    font-size: 30px;
}
.home-img {
    width: 800px;
    height: 500px;
    padding-left: 380px;
}


.logo-image img{
    float: left;
    width: 120px;
    height: 80px;   
}
.contact-pagina {
    background-color: lightyellow;
    height: 200px;
    float: right;
    width: 500px;
    padding: 50px;
    margin: 200px;
    font-size: 25px;
}
