@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Agenda";

}

<h1>Agenda</h1>


<!--Laat data zien van een festival uit de database waarvan je de naam ziet en als je op de naam klikt word je geredirect naar het gekozen festival-->
@if (Model != null)
{
    foreach (Festival festival in Model)
    {

        <div class="box-agenda">

            <a href="/festival/@festival.Id">@festival.Naam </a>

        </div>





    }
}


