@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Agenda";
}

<h1>Agenda</h1>


<ul>
    @if (Model != null)
    {
        foreach (Festival festival in Model)
        {
            <li>
                <a href="/festival/@festival.Id">@festival.Naam </a>
            </li>
        }
    }
</ul>

