@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Agenda";
   
}

<h1>Agenda</h1>


<!--Laat data zien van de database festival waarvan de naam en als je op de naam klikt wordt je geredirect naar de aangekozen festival-->
    @if (Model != null)
    {
        foreach (Festival festival in Model)
        {

<div class="box-agenda">
    
    <a href="/festival/@festival.Id">@festival.Naam </a>

</div>





        }
    }


