@model PersonModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

@if (Model != null)
{

}

<h2>Contactgegevens</h2>

<div class="contact-pagina">
    <p> Bavelseparklaan, 4817 ZX Breda</p>
    <p> algemene vragen: 076-763 046 </p>
    <p> Whatsapp (enkele berichten): 06-100 537 52 </p>

</div>

<h2>Contactformulier</h2>

<div class="contact-form">
    <form method="post">
        <input type="text" name="Voornaam" placeholder="Voornaam" /> <br />
        <input type="text" name="Achternaam" placeholder="Achternaam" />
        @Html.ValidationMessageFor(m => m.Achternaam) <br />
        <input type="text" name="Email" placeholder="Emailadres" />
        @Html.ValidationMessageFor(m => m.Email) <br />
        <input type="datetime" name="Geboortedatum" placeholder="Geboortedatum" /> <br />
        <input type="submit" value="verstuur" />

    </form>

</div>

<div class=" column-box">
    <div class="box">
        <h3> Instagram </h3>
        <p> @@Breeparkfestivals</p>
    </div>
    <div class="box">
        <h3> Snapchat </h3>
        <p> @@Breeparkfestivals</p>
    </div>
    <div class="box">
        <h3> Twitter </h3>
        <p> @@Breeparkfestivals</p>
    </div>


</div>
