<h1>Contact</h1>
<div class="contact-pagina">
    <p> Bavelseparklaan, 4817 ZX Breda</p>
    <p> algemene vragen: 076-763 046 </p>
    <p> Whatsapp (enkele berichten): 06-100 537 52 </p>
</div>


<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.2450044631933!2d4.832478115659038!3d51.58207291306171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6a1ff9c428cdd%3A0x7bb67235138263c6!2sBavelseparklaan%2020%2C%204817%20ZJ%20Breda!5e0!3m2!1snl!2snl!4v1581948615324!5m2!1snl!2snl" width="550" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>



<div class="box">
    <h3> Instagram </h3>
    <p> @@Breeparkfestivals</p>
</div>
<div class="box">
    <h3> Snapchat </h3>
    <p> @@Breeparkfestivals</p>
</div>
<div class="box">
    <h3> Twitter </h3>
    <p> @@Breeparkfestivals</p>
</div>
<h1>Contact</h1>
<div class="contact-pagina">
    <p> Bavelseparklaan, 4817 ZX Breda</p>
    <p> algemene vragen: 076-763 046 </p>
    <p> Whatsapp (enkele berichten): 06-100 537 52 </p>
</div>


<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.2450044631933!2d4.832478115659038!3d51.58207291306171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6a1ff9c428cdd%3A0x7bb67235138263c6!2sBavelseparklaan%2020%2C%204817%20ZJ%20Breda!5e0!3m2!1snl!2snl!4v1581948615324!5m2!1snl!2snl" width="550" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</div>



<div class="box">
    <h3> Instagram </h3>
    <p> @@Breeparkfestivals</p>
</div>
<div class="box">
    <h3> Snapchat </h3>
    <p> @@Breeparkfestivals</p>
</div>
<div class="box">
    <h3> Twitter </h3>
    <p> @@Breeparkfestivals</p>
</div>
