@model PersonModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

@if (Model != null)
{

}



<div class="contact-pagina">
    <h2 id="h2centerform">Contactgegevens</h2>
    <hr />
    <p> Bavelseparklaan, 4817 ZX Breda</p>
    <p> algemene vragen: 076-763 046 </p>
    <p> Whatsapp (enkele berichten): 06-100 537 52 </p>

</div>


<div class="contact-pagina">
  
        <h2 id="h2centerform">Contactformulier</h2>
    <hr />
    <!-- formulier wordt verstuurd naar database en als de invoer niet goed is wordt het met eigen gemaakt error message weer gegeven-->
    <form text- method="post">
        <input type="text" name="Voornaam" placeholder="Voornaam" /> <br />
        @Html.ValidationMessageFor(m => m.Voornaam) <br />
        <input type="text" name="Achternaam" placeholder="Achternaam" /> <br />
        @Html.ValidationMessageFor(m => m.Achternaam) <br />
        <input type="text" name="Email" placeholder="Emailadres" /> <br />
        @Html.ValidationMessageFor(m => m.Email) <br />
        <input type="date" name="Geboortedatum" placeholder="Geboortedatum" /> <br />
        @Html.ValidationMessageFor(m => m.Geboortedatum) <br />
        <input type="submit" value="verstuur" />
    </form>

</div>

<div class=" column-box">
    <div class="box">
        <h3> Instagram </h3>
        <p> @@Breeparkfestivals</p>
    </div>
    <div class="box">
        <h3> Snapchat </h3>
        <p> @@Breeparkfestivals</p>
    </div>
    <div class="box">
        <h3> Twitter </h3>
        <p> @@Breeparkfestivals</p>
    </div>


</div>
