@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<!--Home-pagina met image en slogan-->
<div class="Home-pagina">
    <h1> Welkom bij Breepark</h1>

    <img class="home-img" src="https://www.thisisourhouse.nl/wp-content/uploads/2015/12/IntentsFestival2015.jpg" />
    <h5> Voor al uw festivals & evenementen </h5>

</div>
