@using SchoolTemplate.Database;
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


    <div class="Home-pagina">
        <h1> Welkom bij Breepark</h1>

        <img class ="home-img"src="https://www.thisisourhouse.nl/wp-content/uploads/2015/12/IntentsFestival2015.jpg" />
        <h5> Voor al uw festivals & evenementen </h5>

        <ul>
            @foreach (Product p in Model)
            {
                <li>
                    @p.Naam @p.Prijs euro
                </li>
            }
        </ul>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
